.DS_Store
.gitignore

result/moment_analysis/error_rate/*

result/moment_analysis/roc_curve/*

result/buffer_analysis/infovis/all/*

dataset/PIN-Entry/data/*

*.csv

*.json

*.pyc

*.mov

*.numbers

*.key
