<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TouchMotion.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>79A5F9521BF13EA7003FC372</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>79A5F96B1BF13EA7003FC372</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>79A5F9761BF13EA7003FC372</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
